
.ant-layout-content {
  padding: 0 50px;
}

.ant-layout-footer {
  text-align: center;
  background: rgb(64, 64, 64);
  color: silver;
}

.logo {
  height: 54px;
  padding-top: 6px;
}

.btn:hover .erweima{
	display: block;
}

.erweima{
	display: none;
    position: absolute;
    height: 54px;
    left: 15px;
    padding-top: 6px;
    top: 25px;
    z-index: 999;
}