
.ant-confirm .ant-modal-body {
    padding: 5px 15px;
}

.ant-confirm-body .ant-confirm-content {
    margin-top: 8px;
    height: 1400px;
}

.ant-confirm .ant-confirm-btns {
	margin-top: 1px;
}

.ant-confirm-body .ant-confirm-content {
    border-top: 2px solid #e1e1e1;
    margin-left: 0px;
}

.ant-modal-content {
	margin-top: 80px;
	border: solid 2px gray;
	border-radius: 30px;
}


